<% provide(:title, "Sign in") %>

<div class="row" style='margin-top:30px;margin-bottom:30px;'>
  <div style='float:left;margin-left:50px;width:300px;'>
	<h1>Logowanie</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %><br />
      <%= f.text_field :email %>
	  <br />
      <%= f.label :hasło %><br />
      <%= f.password_field :password %>
	  <br />
      <%= f.submit "Zaloguj", class: "btn btn-small btn-primary" %>
    <% end %>
    <br/>
    <p>
Nie masz konta? <%= link_to "Utwórz konto", new_user_path %>
    </p>
  </div>
  <div style='width:400px;float:right;'>
  <img style='float:right;width:350px;border: 1px solid rgb(179, 179, 179);' src='/assets/brama.jpg' />
  </div>
</div>
